*.iml
.gradle
/local.properties
.idea/
.kotlin/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
lint/
**/build/
gradlew
gradlew.bat
gradle/
*.log
captures/
.navigation/
*.swp
*~
Thumbs.db
desktop.ini
.agents/
UI_referene/
.kilo/
DEBUG_REPORT.md
app/release